<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="doctor.css">
</head>
<body>
    <h1>Doctor Dashboard</h1>
    <div class="container">
        <!--box1-->
        <div class="box-1">
            <h3>Quick Search</h3>
            <form action="">
                <!--input name-->
                <div class="input-name">
                <div>
                    <label for="name">First Name</label>
                    <input type="text" name="name" id="first_name">
                </div>
                <div>
                    <label for="name">Last Name</label>
                    <input type="text" name="name" id="last_name">
                </div>
                </div>
                <!--input age-->
                <div class="input-age" >
                    <div>
                        <input type="text" name="age" id="age" placeholder="Enter your Age">
                    </div>
                    <div><button>Search</button></div>
                </div>
            </form>
        </div>
        <!--box2-->
        <div class="box-2">
            <h3>Bookmarked Patients</h3>
            <div class="box-container">
                <div>Emeka</div>
                <div>Emeka</div>
                <div>Emeka</div>
                <div>Emeka</div>
                <!-- <div>Emeka</div>
                 -->
            </div>
    
            <button>View all Bookmarked</button>
        </div>
        <!--box3-->
        <div class="box-3">
            <h3>Event Notification</h3>
            <div class="box3-container">
                <div>
                    <h2>Event Date</h2>
                    <p>05/07/2024</p>
                    <p>05/07/2024</p>
                </div>

                <div>
                    <h2>Event</h2>
                    <p>Behavioura Health</p>
                    <p>Behavioura Health</p>
                </div>

                <div>
                    <h2>Falculty</h2>
                    <p>UKHC</p>
                    <p>UKHC</p>
                </div>

                <div>
                <h2>Name</h2>
                <p>John</p>
                <p>Paul</p>
                </div>

                <div>
                    <h2>Age</h2>
                    <p>56</p>
                    <p>76</p>
                </div>

            </div>
            <button>View all Notification</button>
        </div>
    </div>
    
</body>
</html>