{% extends "base.html" %}

{% block title %}ConCare - Login{% endblock %}

{% block extra_css %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='doctor_static/css/login.css') }}">
<script src="{{ url_for('static', filename='doctor_static/scripts/login.js') }}"></script>
{% endblock %}

{% block content %}
<div class="container1 mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
            <div class="card">
                <div class="card-body">
                    <div class="sign">
                        <h2 class="text-center"><b>Login</b></h2>
                    </div>
                    <form id="signupForm" action="/doctor/login" method="post">
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" class="form-control" id="email" name="email"
                                placeholder="Enter Your Email">
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" id="password" name="_password"
                                placeholder="Enter Your Password">
                        </div>
                        <button type="submit" class=" bt btn btn-primary btn-block">Login</button>
                    </form>
                    <div id="error-message" class="text-danger mt-3"></div>
                    <div class="text-center mt-3">
                        <a href="http://localhost:5000/doctor/signup">Don't have an account? Register here<br>
                        <a href="#">Forgotten password?</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}